service_account_key_file = "terraform-bot-key.json"
cloud_id                 = "b1gaoe8gd60hmb5vcch0"
folder_id                = "b1g7rnu8v9blnov6283p"
zone                     = "ru-central1-a"
public_key_path          = "~/.ssh/appuser.pub"
image_id                 = "fd8dqkicue15evqu59k7"
subnet_id                = "e9b8jq70j2bafkcv156b"
private_key              = "~/.ssh/appuser"
db_disk_image            = "fd8vebmgh7tste7ga8mp"
app_disk_image           = "fd80bvsiblst7o8ukmu2"
